@{
    var IsloggedIn = Context.Session.GetString("userId")!=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym_management_System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gym_management_System.styles.css" asp-append-version="true" />
</head>
<body class="BodyLayout">
    <nav class="navbar navbar-dark px-4" style="background-color: #0f3460;">
            <span class="navbar-brand">💪 Gym </span>
            @if (IsloggedIn)
            {
                <span class="text-white">
                    Hello,<strong>@Context.Session.GetString("userName")</strong>
                </span>
                <a asp-controller="Account" asp-action="Logout" class="btn btn-success">Logout</a>

            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
            }


    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
