@model AddGymViewModel

<form asp-action="Create" asp-controller="Gym" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="GymName" class="form-label"></label>
        <input asp-for="GymName" class="form-control" />
        <span asp-validation-for="GymName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GymAddress" class="form-label"></label>
        <input asp-for="GymAddress" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="City" class="form-label"></label>
        <input asp-for="City" class="form-control" />
       
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>