@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Members list</h2>

   <div class="row">
       
            @if(Model.members!= null && Model.members.Any())
            {
                foreach(var member in Model.members)
                { <div class="col-md-3 mb-3">

                <a asp-action="Details" asp-controller="Home" asp-route-id=@member.Id>
                    <div class="card shadow-sm">

        
                        <img src="/lib/"
                             class="card-img-top"
                             alt="Member Photo"
                             style="height:200px; object-fit:cover;" />

                        <div class="card-body text-center">

                
                            <h6 class="text-muted">ID: @member.Id</h6>

                
                            <h5 class="card-title">@member.MemberName</h5>

                        </div>
                      </div>
           </a>

        </div>

 
                }
            }
   </div>


