
@model StaffHomeViewModel
@{
    ViewData["Title"] = "Staffs";
}
<h2>Members list</h2>
<div class="d-flex justify-content-end mb-3">
    <a asp-controller="Staff" asp-action="Create" class="btn btn-primary" asp-route-gymid="@Model.gymId">Add Staff</a>
</div>
<div class="mb-3">
    <a asp-action="Details" asp-controller="Gym" asp-route-id="@Model.gymId"
       class="btn btn-secondary">← Back to Gyms</a>
</div>
<div class="row">
       
    @if (Model.staffs != null && Model.staffs.Any())
    {
        foreach (var staff in Model.staffs)
        {
            <div class="col-md-3 mb-3">

                <a asp-action="Details" asp-controller="Staff" asp-route-id=@staff.Id>
                    <div class="card shadow-sm">

        
                       
                        <div class="card-body text-center">

                
                            <h6 class="text-muted">ID: @staff.Id</h6>

                
                            <h5 class="card-title">@staff.StaffName</h5>

                        </div>
                    </div>
                </a>

            </div>

 
        }
    }
</div>


